@media only screen and (max-width: 960px) {

    div.screen {
        display: flex;
        flex-direction: column;
        height: 100svh;
        width: 100svw;
    }
    
    div.header {
        padding: 32px 24px;
    }

        div.header-primarytext {
            font-size: 20pt;
        }

        div.header-secondarytext {
            font-size: 28pt;
        }

    div.window {
        border-radius: 32px 32px 0 0;
        flex: 1;
        height: auto;
    }

        div.window-time-hour,
        div.window-center-estimation {
            font-size: 16pt;
        }

        div.window-center-code {
            font-size: 64pt;
        }

    div.window-button-area {
        display: flex;
        justify-content: flex-end
    }

}